.app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items:center;
    width:50%;
    background-color: black;
}
.blog-post-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 25%;
}