.app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items:center;
    width:100%;
}
.blog-post-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
}